<header>
  <div class="container header-container">
    <div class="logo">
      <a href="index.html">
        <img src="/assets/Orionware Logo.svg" alt="Orionware" class="logo-image">
      </a>
    </div>
    <nav>
      <ul class="nav-links">
        <li>
          <a href="index.html" class="{{active-page == 'home' ? 'active' : ''}}">Home</a>
        </li>
        <li>
          <a href="servizi.html" class="{{active-page == 'servizi' ? 'active' : ''}}">Servizi</a>
        </li>
        <!--
                <li><a href="progetti.html" class="{{active-page == 'progetti' ? 'active' : ''}}">Progetti</a></li>
        -->
        <li>
          <a href="ai-solutions.html" class="{{active-page == 'ai-solutions' ? 'active' : ''}}">AI Solutions</a>
        </li>
        <li>
          <a href="chi-siamo.html" class="{{active-page == 'chi-siamo' ? 'active' : ''}}">Chi Siamo</a>
        </li>
        <li>
          <a href="contatti.html" class="{{active-page == 'contatti' ? 'active' : ''}}">Contatti</a>
        </li>
      </ul>
    </nav>
    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
</header>

<!-- Rimuovo lo script qui per evitare conflitti con main.js -->
